/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-size: rem;
  padding: 0 5%;
  /* padding-left: 5%; */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerOptions {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin-top: 2rem;
}

.visualProducts {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin: 4rem;
}

.visualProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.productLogo {
  height: 150px;
  width: 150px;
  border-radius: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--ifm-color-emphasis-200);
}

.productTitle {
  font-size: 150%;
  font-weight: 700;
}

.productSubtitle {
  font-weight: 400;
  max-width: 300px;
}
